@import '../../assets/variables';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  background: $bgGray;

  padding: 2rem 5rem;
  min-height: 80vh;
}

.top {
  padding-bottom: 1rem;
  &__breadcumb {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
    padding-bottom: 2rem;

    &__item {
      &--selected {
        & .text { color: $textBlack; }
      }

      & + & {
        &::before {
          content: "/";
          font-size: 1.4rem;
          padding-right: .5rem;
          color: $dark;
          @media (max-width: $mobile) {
            content: "<";
            color: $bluePrimary;
            font-size: 1.6rem;
            padding: 0;
          }
        }
      }

      @media (max-width: $mobile) {
        &:not(&--previous) {
          display: none;
        }
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  &__filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__item {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      width: 18rem;
      min-height: 2.5rem;
      border: 1px solid $blueSecondary;

      &--selected {
        background: $blueSecondary;
        .text { color: $white; }
      }

      &:hover {
        background: $bluePrimary;
        .text { color: $white; }
      }
    }

    &__item:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    
    &__item:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

  }
}

.favorites {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  &__item {
    cursor: pointer;
    flex: 1;
    height: 40rem;
    min-width: 20rem;
    max-width: 25rem;
    padding: 2rem;
    margin: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    background: #fff;
    box-shadow: 0 0 5px $gray;
    border-radius: 4px;
  
    transition: all .1s;

    &--hidden { display: none; }

    &--new {
      i { color: $bluePrimary; }
      & div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &__logo {
      max-height: 8rem;
      max-width: 20rem;
      margin-bottom: 1.5rem;
    }

    &__infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      &--row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      & + & {
        border-top: 1px solid $dark;
      }
    }
    
    &__buttons {
      display: flex;
      flex-direction: row;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 10px #ddd;
    }

    @media (max-width: $mobile) {
      min-width: 100%;
    }
  }
}
