@import '../../assets/variables';

.container {
  height: 8rem;
  background: $bgGray;

  padding: 0 5rem;

  @media (max-width: $mobile) {
    padding: 0 1rem;
  }
}

.top {
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;

  i { color: $bluePrimary }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: row;
  
    div:not(:last-child) {
      border-right: 2px solid $gray;
    }

    &__how-it-works {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    
      padding: 0 1rem;
    
      @media (max-width: $mobile) {
        flex-direction: column;
        justify-content: flex-start;
    
        .text {
          display: none;
        }
        &::after {
          margin-top: .5rem;
          font-size: 1.4rem;
          font-weight: 700;
          color: $bluePrimary;
          content: "Ajuda"
        }
      }
    }
    &__contacts {
      display: flex;
      flex-direction: row;
      align-items: center;
    
      padding: 0 1rem;
    
      &__img {
        width: 3.2rem;
        height: 3rem;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
  &__logo {
    max-width: 15rem;
  }
  &__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__account {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: $mobile) {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 1rem;
    
        border-left: 2px solid $gray;
        
        .text { display: none; }
        &::after {
          margin-top: .5rem;
          font-size: 1.4rem;
          font-weight: 700;
          color: $bluePrimary;
          content: "Conta"
        }
      }
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;

  height: 30%;
  background: $bluePrimary;
  border-top: 1px solid $blueSecondary;
  
  margin: 0 -5rem;
  padding: 0 5rem;

  i { color: $white }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    list-style: none;

    @media (max-width: $mobile) {
      justify-content: space-between;
    };

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 15rem;

      @media (max-width: $mobile) {
        display: none;
      }
      
      &--mobile {
        width: auto;
        display: none;

        @media (max-width: $mobile) {
          display: flex;
        }
      }

      &--fixed {
        @media (max-width: $mobile) {
          display: flex;
          width: auto;
        }
      }

      &--selected {
        background: $blueSecondary;
      }

      &:hover {
        background: $blueSecondary;
      }
    }
  }
}