@import '../../assets/variables';

.container {
  display: flex;
  flex-direction: column;

  min-height: 15rem;
  background: $bgGray;
}

.contacts {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: $blueSecondary;
  padding: 0 5rem;

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 2rem 1rem;

    i { color: $white; padding: 0 .5rem; }

    &__caption { display: none; }

    &__infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media (max-width: $mobile) {
    padding: 0;
    flex: 3;
    
    &__item--main {
      border-bottom: 2px solid $bluePrimary;
      width: 100vw;
      i { font-size: 3.2rem; }
      .text { font-size: 1.8rem; }
    }
    &__item--sub {
      flex: 1;
      flex-direction: column;

      & + & { border-left: 2px solid $bluePrimary; }

      .contacts__item__infos { display: none; }
      .contacts__item__caption {
        display: flex;
        font-size: 1.6rem;
        color: $white;
      }
    }
  };
}

.bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background: $bluePrimary;
}