$mobile: 500px;
$tablet: 700px;
$white: #fff;
$gray: #eee;
$dark: #bbb;
$bluePrimary: #18ACC4;
$blueSecondary: #007A8D;
$yellowPrimary: #FDCB13;
$yellowSecondary: #DE9E1F;
$green: #0FA866;
$textBlack: #1F2D30;
$bgGray: #FBFBFB;
$overlayModal: rgba(31,45,48, .88)